.stand__container {
  text-align: right;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;

  &_info {
    padding-right: 20px;
    align-self: center;

    &-owner {
      color: #aaa;
      font-size: 26px;
      font-weight: 500;
    }

    &-name {
      font-family: Abril Fatface;
      font-size: 70px;
      letter-spacing: 1.3;
      line-height: 1.5em;
      border-bottom: 1px solid #444;
    }

    &-descr {
      padding-top: 1em;
      font-size: 22px;
      font-weight: lighter;
      letter-spacing: 1.2;
      max-width: 30em;
    }
  }

  &_portrait {
    object-fit: contain;
    max-height: 100%;
    max-width: 500px;
  }
}
